
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for melon in melons_in_cart %}
            <tr>
                <td>{{ melon.melon_id }}</td>
                <td>{{ melon.quantity }}</td>
                <td>{{ melon.price }}</td>
                <td>{{ melon.cost_of_mel }}</td>
            </tr>   
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <h3>Total: ${{ total_cost }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
